# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# JetBrains
.idea

# Go Binaries and vendors
cmd/sftp_app/sftp_app
cmd/s3_app/s3_app
vendor

# Env files
cmd/**/.env